<%-include("partials/header")%>
<div class="ui main text container">
<div class="ui huge header"><%=info.title%></div>
<div class="ui top attached segment">
    <div class="item">
    <img class="ui centered rounded image" src="<%=info.image%>">
        <div class="content">
        <span><%=info.created.toDateString()%></span>
        </div>
        <div class="description">
        <p>
            <%=info.body%>
            </p>
        </div>

    <a class="ui blue inverted button" href="<%=info._id%>/edit">edit post</a>            


<form id="delete" action="/blogs/<%=info._id%>?_method=DELETE" method="post">
    <button class="ui red inverted button">Delete</button>
    
</form>

    </div>
</div>
</div>
<%-include("partials/footer")%>